<% provide(:title, 'About Chatter') %>

<h1>About Chatter</h1>
<p>
The <a href="http://railstutorial.org/">Chatter App</a>
is a project and an effort lead by developers to create a common platform
where the community can interact with each other and share their 
feeling, what they are currently upto and lots more!
</p>
